# IDE
/.metadata/
.vscode/
*.classpath
*.project
*.factorypath
*.settings/

# Frontend
CarRentalFrontEnd/node_modules/
CarRentalFrontEnd/dist/
CarRentalFrontEnd/build/

# Backend
CarRentalBackEnd/target/
